.treeHeader {
    height: 42px;
    background: #f6f6fb;
    display: flex;
    align-items: center;
  }
  
  .treeTag {
    flex-grow: 1;
    height: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    margin-left: 13px;
  }
  
  .treeHeaderButtonGroup {
    flex-grow: 0;
    height: 24px;
    margin-right: 12px;
    text-align: center;
    display: flex;
  }
  
  .headerBtn {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 18px;
    height: 18px;
    &:hover {
      background-color: #ededed;
    }
  }
  