.blockStyle {
    margin-bottom: 60px;
  }
  .exampleImg {
    width: 800px;
    height: 400px;
  }
  .exampleDemo {
    min-height: 200px;
  }
  .exampleDemoBoxMin {
    margin: 0 auto;
    width: 400px;
  }
  